<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hivecloud Challenge
  </h1>
  <img width="100" style="margin-top:10px" src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/eat-circle-orange-512.png">
</div>
<div class="container">
  <button (click)="Listar()" class="btn btn-info"> Listar pratos </button>
  <button (click)="Novo()" class="btn btn-info" style="margin-left: 10px"> Novo pedido </button>

</div>

<router-outlet></router-outlet>