<div class="container">
  <div class="card">
    <div class="card-header">
      <h3> Adicionar pedido </h3>
    </div>
    <div class="card-body">
      <form [formGroup] = "form" (ngSubmit)="addPrato()">

        <div class="form-group" [ngClass]="putCSSError('nome')" >
          <label for="nome"> Prato </label>
          <select id="nome" formControlName="nome" class="form-control" >
            <option *ngFor="let prato of pratoListInput" [value]="prato.nome" >{{prato.nome}}</option>
          </select>

          <div *ngIf = "false" 
          class="alert alert-dange" role="alert">
            A escolha do prato é obrigatória
          </div>
        </div>

        <div class="form-group">
          <label for="acompanhamentos"> Acompanhamentos </label>
          <ng-multiselect-dropdown
          [placeholder]="'Selecione os acompanhamentos'"
          [data]="dropdownList"
          formControlName="acompanhamentos"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"> </ng-multiselect-dropdown>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!form.valid"> Adicionar prato </button>
      </form>
      <button (click)="loadPedido()" class="btn btn-success" style="margin-top: 10px" [disabled]="!form.valid"> Enviar pedido </button>

    </div>
  </div>

</div>